IPHONEOS_DEPLOYMENT_TARGET = 8.0
CLANG_CXX_LIBRARY = libc++;
ARCHS = $(ARCHS_STANDARD);
//ARCHS = $(ARCHS_STANDARD_32_BIT);
GCC_C_LANGUAGE_STANDARD = gnu99;
THEORA_PLAYER_IOS_EXTRA_PREPROCESSOR = _USE_TREMOR // Comment out to use vorbis
ONLY_ACTIVE_ARCH=NO; // Comment out for defaults (DEBUG active only)
STRINGS_FILE_OUTPUT_ENCODING = UTF-8;
DEBUG_INFORMATION_FORMAT = dwarf; // embedd debug info in the static libs
